@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: "Ubuntu";
}

.primary-color {
    color: rgba(119, 237, 150);
}
.sec-bg {
    background-color: rgba(119, 237, 150, .2);
}
.pri-bg {
    background-color: rgba(119, 237, 150);
}
.outline-pri {
    border: 1.5px solid rgba(119, 237, 150);
    transition: all .2s ease;
}
.outline-pri:hover {
    background-color: rgba(119, 237, 150) !important;
    color: white !important;
}
.border-0 {
    border: 0 !important;
}
.btn-controll {
    width: 130px;
}

/* circular progres */
.center {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-direction: row;
}
.slider {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: none;
    margin: 0 !important;
}
.knob {
    width: 90px;
    height: 90px;
    background: rgb(222, 222, 222);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.knob .rotator {
    /*width: 180px;
    height: 180px;
    background: rgb(235, 235, 235);
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), inset 1px 2px 1px white,
    2px -1px 1px rgba(0, 0, 0, 0.2), -1px 0px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;*/
}
.knob .text {
    width: 80px;
    height: 80px;
    margin: 0 15px;
    font-family: poppins;
    font-size: 13px;
    font-weight: 600;
    color: #515be8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pointer {
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(60% - 10px);
    left: 0;
    display: none;
    align-items: center;
    justify-content: flex-start;
    transform-origin: 48px 10px;
    transform: rotate(-5deg);
}
.pointer span {
    font-size: 18px;
    transform: rotate(180deg) translateX(10px);
}
circle {
    fill: none;
}
circle:nth-child(1) {
    stroke: rgba(0, 0, 0, 0.2);
    stroke-width: 12px;
    stroke-dasharray: 200;
    transform-origin: center;
    transform: rotate(170deg);
    stroke-linecap: round;
}
circle:nth-child(2) {
    stroke: rgb(2, 117, 232);
    stroke-width: 15px;
    stroke-dasharray: 880;
    stroke-dashoffset: calc(880 - (200 * 0) / 100);
    transform-origin: center;
    transform: rotate(170deg);
    stroke-linecap: round;
}