@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: "Ubuntu";
}

.primary-color {
    color: rgba(119, 237, 150);
}
.sec-bg {
    background-color: rgba(119, 237, 150, .2);
}
.pri-bg {
    background-color: rgba(119, 237, 150);
}
.outline-pri {
    border: 1.5px solid rgba(119, 237, 150);
    transition: all .2s ease;
}
.outline-pri:hover {
    background-color: rgba(119, 237, 150) !important;
    color: white !important;
}
.border-0 {
    border: 0 !important;
}
.btn-controll {
    width: 130px;
}

/* circular progres */

.progress-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.progress-container {
    position: relative;
    width: 180px;
    height: 180px;
}

svg {
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}

circle {
    fill: none;
    stroke-width: 10;
}

.circle-bg {
    stroke: #e0e0e0;
}

.circle-progress {
    stroke: #4caf50;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.35s;
}

.progress-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}



#page_button {
    border: 3px solid rgba(119, 237, 150, .2);
    background-color: rgba(119, 237, 150);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    justify-content: right;
}
table {
    flex: center;
    border: collapse;
    width: 80%;
    border-radius: 5px;
}
td, th {
    border: 2px solid rgba(119, 237, 150);
    text-align: center;
    padding: 2px;
}
tr:nth-child(odd) {
    background-color: rgba(119, 237, 150);
}

#GiveData {
    border: 5px solid rgba(119, 237, 150, .2);
    color: white;
    background-color: rgba(119, 237, 150);
    justify-self: center;
}
.pagination {
    border-radius: 50%;
    display: flex;

}
.pagination a {
    border: 1px #77ed96 solid;
    color: #77ed96;
    padding: 6px 18px;
    text-decoration: none;
}
.pagination a.active {
    background-color: #77ed96;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: rgba(119, 237, 150, .2);
}